body{
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mistyrose;
    font-family:sans-serif;
    
}
#todo_box{
    height: auto;
    min-height: 596px;   
    width: 80vh;
    border: 2px solid black;
    margin-top: 10vh;    
    background-color: white;
    
}
#heading{
    
    margin: 0;
    border-bottom: 2px solid black;
    height: 61px;
    width: 100%;
}
#heading h1{
    padding-top: 10px;
    margin: 0;
    text-align: center;
}
#input_form{
    height:60%;
    width: 100%;    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#discription_box{
    height: 50%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selection{
    height: 50%;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}
#input_btn{
    height: 40%;
    width: 100%;    
    display: flex;
    justify-content:center;
    align-items: center;
}
#input_btn button{
    height: 40%;
    width: 30%;
}
.select_option{
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
#tasks{
    min-height: 15%;
    height: auto; 
    
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
}
#cb{
    height: 85px;
    width: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cb input{
    height: 35%;
    width: 35%;
}
#due_work{
    height: 100%;
    width: 90%;    
    display: flex;
    flex-direction: row;
    
}
#due_task{
    height: 100%;
    width: 80%;    
}
#due_task p{
    margin-top: 10px;
    overflow-wrap: break-word;
}
#due_cat{
    height: 85px;
    width: 102px;    
    display: flex;
    align-items: center;
    justify-content: center;
}
#due_cat>div{
    height: 40%;
    width: 80%;
    background-color:#0d6efd;
    background-color:#0dcaf0;
   
    border-radius: 0.5rem;
    
}
#due_cat p{
    margin:8px 0px 0px 8px;
}
form{
    height: 328px;
    width: 100%;
    
}
#deleteBtn{
    background-color: red;
    color: white;    
}
#addBtn{
    background-color: #444444;
    color: white;
}
.fontadj{
    font-size: 1.1rem;
    font-weight: 600;
}
.styBtn{
    letter-spacing: 1px;
    font-weight: 600;
    border: 0;
    border-radius: 0.4rem;
}
@media screen and (max-width:768px) {
    #todo_box{
        margin-top: 0;
    }    
    #input_btn button{        
        width: 40%;
    }
}