body{
    margin:0;
}
#todo_box{
    height: 80vh;
    /* max-height: auto; */
    width: 80vh;
    border: 2px solid black;
    margin-top: 10vh;
    margin-left: 32vw;
}
#heading{
    border: 1px solid black;
    height: 10%;
    width: 100%;
}
#heading h1{
    margin: 0;
    text-align: center;
}
#input_form{
    height:30%;
    width: 100%;
    /* border:2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#discription_box{
    height: 50%;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.selection{
    height: 50%;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
   
}
#input_btn{
    height: 20%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#input_btn button{
    height: 40%;
    width: 30%;
}
.select_option{
    height: 40%;
    width: 80%;
}